table.body(border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6; min-height: 350px')
    tr
        td.container(style="font-family: sans-serif; vertical-align: top; display: block; Margin: 0 auto; max-width: 836px; padding: 20px; width: 100%; box-sizing: border-box; font-family: 'Lato', sans-serif; ")
            table.main(style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #ffffff; border-radius: 20px;')
                tr
                    td.wrapper(style='font-family: sans-serif; font-size: 16px; vertical-align: top; box-sizing: border-box; padding: 20px;')
                        table(border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;')
                            tr
                                td(style='font-family: sans-serif; font-size: 16px; vertical-align: top;')
                                    img(src="#{frontUrl}/images/patio.png")
                                    p(style="margin-top: 24px; color: #34314C;") #{greetings}
                                    p(style="margin-top: 24px; color: #34314C;") #{today}
                                    h1(style="font-size: 24px; color: #34314C;") #{question}
                                    div(style="width: 100%; margin-top: 24px;")
                                        a(href='#{link}?vote=1', style='display:inline-block; border-radius: 100%; text-decoration: none;color:#FFFFFF;text-align:center;line-height: 50px;width: 16%; height:50px; margin-right:8px; border-radius: 2px; max-width: 106px; margin-right: 3%;  color: #34314C;')
                                            img(src="#{frontUrl}/images/mood1.png")
                                        a(href='#{link}?vote=2', style='display:inline-block; text-decoration: none;color:#FFFFFF;text-align:center;line-height: 50px;width: 16%; height:50px; margin-right:8px; border-radius: 2px; max-width: 106px; margin-right: 3%')
                                            img(src="#{frontUrl}/images/mood2.png")
                                        a(href='#{link}?vote=3', style='display:inline-block; text-decoration: none;color:#FFFFFF;text-align:center;line-height: 50px;width: 16%; height:50px; margin-right:8px; border-radius: 2px; max-width: 106px; margin-right: 3%')
                                            img(src="#{frontUrl}/images/mood3.png")
                                        a(href='#{link}?vote=4', style='display:inline-block; text-decoration: none;color:#FFFFFF;text-align:center;line-height: 50px;width: 16%; height:50px; margin-right:8px; border-radius: 2px; max-width: 106px;margin-right: 3%')
                                            img(src="#{frontUrl}/images/mood4.png")
                                        a(href='#{link}?vote=5', style='display:inline-block; text-decoration: none;color:#FFFFFF;text-align:center;line-height: 50px;width: 16%; height:50px; margin-right:8px; border-radius: 2px; max-width: 106px;')
                                            img(src="#{frontUrl}/images/mood5.png")
                                    p(style="margin-top: 24px;  color: #34314C;") #{thanks}
                                    p(style="margin-top: 24px; margin-bottom: 24px; color: #34314C;") #{disclaimer}
